<div id="board">
    <header class="boardHeader">
        <a href="/board" id="title">CardBoard</a>
        <a id="logoutNav" href="/auth/logout">Logout</a>
    </header>

    <p id="boardTitle">Welcome to your board, <%= userName %>!</p>

    <!-- Adds New List Card -->
    <div class="cardContainer">
      <div class="listWrapper">
        <form id="addListForm" action="/board" method="POST">
          <li class="list">
            <p id="addListTitle">Create a New List!</p>
            <textarea 
              id="addList" 
              name="title" 
              type="text" 
              placeholder="List Name" 
              maxlength="50"
            ></textarea>
              <button id="doIt">Do It!
              </button>
          </li>
        </form>
      </div>  <!-- closing tag for listWrapper -->

      <div class="listContainer">

        <% foundList.forEach(list => { %>

          <div class="listWrapper">

            <!-- Edits List Name -->
            <div class="newList" class="draggable" draggable="true">
              <form id="listForm" method="POST" action="/board/<%= list.id %>/?_method=PUT">
                <input
                  id="newListTitle"
                  name="newTitle" 
                  type="text"
                  class="newListTitle"
                  value="<%= list.listName %>"
                />
              </form>

              <!-- Adds new tasks to lists -->
              <% list.tasks.forEach(task => { %>
                
                <!-- Edits task name -->
                <div class="newTaskCard" class="draggable" draggable="false">
                  <form method="POST" action="/board/<%= task.id %>/editTask/?_method=PUT">
                    <textarea
                      name="addTask" 
                      type="text"
                      class="newTaskName"
                      value="<%= task.name %>"
                      maxlength="100"
                    ><%= task.name %></textarea>
                  

                  <!-- Upon button click, strikethrough finished task -->
                  <div class="taskBtnContainer">  
                      <button 
                        class="taskBtn"
                      ><i class="fas fa-pencil-alt fa-lg"></i>
                      </button>
                  </form>

                    <!-- delete task from list -->
                    <form method="POST" action="/board/<%= task.id %>/deleteItem/?_method=DELETE">
                      <button class="taskBtn">
                        <i class="fas fa-trash-alt fa-lg"></i>
                      </button>
                    </form>
                  </div>  <!-- closing tag for taskBtnContainer -->

                </div>  <!-- closing tag for newTask -->
              <% }) %>

              <div class="taskCard" class="draggable" draggable="false">
                <form method="POST" action="/board/<%= list.id %>/newtask">
                  <strike>
                    <input 
                      name="addTask" 
                      type="text" 
                      class="addTask"
                      placeholder="Add Task" />
                  </strike>
                </form> 
              </div>  <!-- closing tag for taskCard -->
              
                <form action='/board/<%= list.id %>/?_method=DELETE' method="POST">
                  <button 
                    type="delete" 
                    class="deleteListBtn" 
                    value="delete" 
                    >Delete List
                  </button>
                </form>
            </div>  <!-- closing tag for newList -->

          </div>  <!-- closing tag for listWrapper -->

        <% }) %>
      
      </div>  <!-- closing tag for listContainer -->

    </div> <!-- closing tag for cardContainer -->

</div>  <!-- closing tag for board -->

<!-- <script src='/scripts/app.js'></script>   -->